<% include header.ejs %>
<div id="pageintro" class="hoc clear">
    <div class="flexslider basicslider">

    </div>

  </div>
  </div>
<!-- End Top Background Image Wrapper -->
<div class="wrapper row3">
  <main class="hoc container clear">
    <!-- main body -->
    <div class="wk_jobseeker">
  <h1> JobSeeker <%=user%> </h1>
					<hr>
					<table border="1" cellpadding="7" cellspacing="7">
						<tr>
							<th width="50px">No</th>
							<th>Project Title</th>

							<th>Projects Description</th>

							<th>Project Budget  (in Rs)</th>


							<th width="120px">Action</th>
						</tr>
						<% if(data.length){
							for(var i = 0;i < data.length;i++) { %>
						<tr>
							<td><%=(i+1)%></td>
							<td> <%=data[i].projTitle%></td>

							<td> <%=data[i].projDesc%></td>
							<td> <%=data[i].Price%></td>
							<td>
								<a class="a-inside edit" href="../bid/<%=data[i].Id%>/<%=user%>">Bid </a>

							</td>
						</tr>
						<% }
							}else{ %>
						<tr>
							<td colspan="6">No user</td>
						</tr>
						<% } %>
					</table>

				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Login Area -->
    </div>



  </main>
</div>


<% include footer.ejs %>
